<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>top.p2premote.service</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/Application Support/p2pRemote/resources/p2premote-service</string>
    <string>--foreground</string>
  </array>
  <key>GroupName</key>
  <string>staff</string>
  <key>WorkingDirectory</key>
  <string>/Library/Application Support/p2pRemote</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Library/Application Support/p2pRemote/logs/launchd.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Application Support/p2pRemote/logs/launchd.stderr.log</string>
</dict>
</plist>
